- var FOOTER = LANG.footer;

footer.footer
	.footer__wrapper
		.container
			.footer__top
				a.footer__logo(href=url(LANG,'/'))
					img(src="img/svg/logo-w.svg", alt="")
				ul.footer__menu.menu-f
					li.menu-f__item
						a.menu-f__link(href="catalog.html")!=FOOTER.footer_menu_item1
					li.menu-f__item
						a.menu-f__link(href="about.html")!=FOOTER.footer_menu_item2
					li.menu-f__item
						a.menu-f__link(href="#")!=FOOTER.footer_menu_item3
					li.menu-f__item
						a.menu-f__link(href="contacts.html")!=FOOTER.footer_menu_item4
				.footer__contacts
					.footer__contact-wrapper
						//.footer__contact-item
						//	p.footer__contact-text Россия:
						//	a.footer__contact-link(href="tel:+74997031476") +7 (499) 703 14 76
						//.footer__contact-item
						//	p.footer__contact-text Казахстан:
						//	a.footer__contact-link(href="tel:+77172972156") +7 (717) 297-21-56
						.footer__contact-item
							a.footer__contact-link(href="mailto:support@naturallic.com") support@naturallic.com
					//.footer__social.social
					//	a.social__item(href="https://www.facebook.com/realvitaliss/?ref=pages_you_manage" target="_blank")
					//		img(src="img/svg/type_1_3.svg", alt="")
					//	a.social__item(href="https://vk.com/vitaliss_official" target="_blank")
					//		img(src="img/svg/type_1_1.svg", alt="")
					//	a.social__item(href="https://ok.ru/group/58603068063992" target="_blank")
					//		img(src="img/svg/type_1_4.svg", alt="")
					//	a.social__item(href="https://www.instagram.com/real_vitaliss/" target="_blank")
					//		img(src="img/svg/type_1_2.svg", alt="")
					.footer__bottom
						//img.footer__logo-mob(src="img/svg/logo-w-small.svg", alt="")
						//a.footer__link(href="terms.html")!=FOOTER.footer_terms
						//a.footer__link(href="cookie.html")!=FOOTER.footer_cookies
						a.footer__link(href="privacy.html") Политика конфиденциальности
						p.footer__copy
							span.year
							|
							| Copyright by naturallic