- var MOBILE_MENU = LANG.mobile_menu;
.menu-mobile#js-mobile-menu
	.menu-mobile__wrap
		.menu-mobile__top
			a.logo.menu-mobile__logo(href=url(LANG, '/'))
				img(src="img/svg/logo.svg", alt="")
			.burger.js-burger(data-target="#js-mobile-menu")
				span.burger__line
				span.burger__line
				span.burger__line
		ul.menu-mobile__nav.menu
			li.menu__item
				a.menu__link(href=url(LANG, "catalog.html"))!=MOBILE_MENU.mobile_menu_item1
			li.menu__item
				a.menu__link(href=url(LANG, "about.html"))!=MOBILE_MENU.mobile_menu_item2
			li.menu__item
				a.menu__link(href=url(LANG, "contacts.html"))!=MOBILE_MENU.mobile_menu_item3
			li.menu__item
				a.menu__link(href=url(LANG, "reviews.html"))!=MOBILE_MENU.mobile_menu_item4
		.menu-mobile__bottom
			button.menu-mobile__btn.btn.js-show-popup(title=MOBILE_MENU.mobile_menu_btn data-target="#popup")!=MOBILE_MENU.mobile_menu_btn
			//.menu-mobile__social.social
			//	a.social__item(href="https://www.facebook.com/realvitaliss/?ref=pages_you_manage" target="_blank")
			//		img(src="img/svg/type_1_3.svg", alt="")
			//	a.social__item(href="https://vk.com/vitaliss_official" target="_blank")
			//		img(src="img/svg/type_1_1.svg", alt="")
			//	a.social__item(href="https://ok.ru/group/58603068063992" target="_blank")
			//		img(src="img/svg/type_1_4.svg", alt="")
			//	a.social__item(href="https://www.instagram.com/real_vitaliss/" target="_blank")
			//		img(src="img/svg/type_1_2.svg", alt="")