include ../../mixins/product-review
include ../../mixins/product-short
-
	var PRODUCT_CARD = LANG.product_card;
	var VISOPTIC_NIGHT = LANG.visoptic_night;
	var VISOPTIC_NIGHT_RECOMMENDATION = LANG.visoptic_night.visoptic_night_product_recommendation;
	var REVIEWS = LANG.reviews.reviews_visoptic_duo_night;
	REVIEWS.length = 3;

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/")!=PRODUCT_CARD.product_card_bread_main
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html")!=PRODUCT_CARD.product_card_bread_catalog
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health")!=VISOPTIC_NIGHT.visoptic_night_category
			span.breadcrumbs__line /
			span.breadcrumbs__main!=VISOPTIC_NIGHT.visoptic_night_title
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/visoptic-day-night.png", alt="Visoptic DUO Night")
					.slider-prod__nav-item
						img(src="img/visoptic-day-night.png", alt="Visoptic DUO Night")
					.slider-prod__nav-item
						img(src="img/visoptic-day-night.png", alt="Visoptic DUO Night")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/visoptic-day-night.png", alt="Visoptic DUO Night")
					.slider-prod__for-item
						img(src="img/visoptic-day-night.png", alt="Visoptic DUO Night")
					.slider-prod__for-item
						img(src="img/visoptic-day-night.png", alt="Visoptic DUO Night")
			.product-item__info
				h2.product-item__name!=VISOPTIC_NIGHT.visoptic_night_title
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
					p.product-item__rating-text!=VISOPTIC_NIGHT.visoptic_night_review_count
				ul.product-item__list.product-list
					li.product-list__item
						!=PRODUCT_CARD.product_niche
						!=VISOPTIC_NIGHT.visoptic_night_niche
					li.product-list__item
						!=PRODUCT_CARD.product_form_factor
						!=VISOPTIC_NIGHT.visoptic_night_form_factor
				//button.product-item__btn.button.button--green.js-show-frame-popup!=PRODUCT_CARD.product_btn
				a.product-item__btn.button.button--gold(href='order.html?id=visoptic-day-night')!=PRODUCT_CARD.product_btn
				p.product-item__text!=VISOPTIC_NIGHT.visoptic_night_short_description
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_description
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=VISOPTIC_NIGHT.visoptic_night_description
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_compound
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=VISOPTIC_NIGHT.visoptic_night_compound
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_usage
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=VISOPTIC_NIGHT.visoptic_night_usage
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_contraindications
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=VISOPTIC_NIGHT.visoptic_night_contraindications
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_additional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									!=PRODUCT_CARD.product_manufacturer
									!=VISOPTIC_NIGHT.visoptic_night_manufacturer
								li.product-list__item.mb
									!=PRODUCT_CARD.product_suitability
									!=VISOPTIC_NIGHT.visoptic_night_suitability
								li.product-list__item
									!=PRODUCT_CARD.product_keep
									!=VISOPTIC_NIGHT.visoptic_night_keep
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_reviews
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							each review in REVIEWS
								+product-review(review)
		.product-item__recomm
			h2.product-item__recomm-ttl.title!= PRODUCT_CARD.product_recommendations
			.product-item__recomm-list
				each product in VISOPTIC_NIGHT_RECOMMENDATION
					+productShort(product)
