include ../../mixins/frame-popup
include ../../mixins/product
include ../../mixins/product-review

- var PRODUCT_CARD = LANG.product_card;
- var STEPLEX = LANG.steplex;
- var HITS = LANG.hits;
- HITS.length = 3

- var REVIEWS = LANG.reviews.reviews_steplex
- REVIEWS.length = 3

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/")!=PRODUCT_CARD.product_card_bread_main
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html")!=PRODUCT_CARD.product_card_bread_catalog
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health")!=STEPLEX.steplex_category
			span.breadcrumbs__line /
			span.breadcrumbs__main!=STEPLEX.steplex_title
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						img(src="img/steplex.png", alt="Steplex")
					.slider-prod__nav-item
						img(src="img/steplex.png", alt="Steplex")
					.slider-prod__nav-item
						img(src="img/steplex.png", alt="Steplex")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						img(src="img/steplex.png", alt="Steplex")
					.slider-prod__for-item
						img(src="img/steplex.png", alt="Steplex")
					.slider-prod__for-item
						img(src="img/steplex.png", alt="Steplex")
			.product-item__info
				h2.product-item__name!=STEPLEX.steplex_title
				//p.product-item__desc
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star-empty.svg", alt="")
					p.product-item__rating-text!=STEPLEX.steplex_review_count
				ul.product-item__list.product-list
					li.product-list__item
						!=PRODUCT_CARD.product_niche
						!=STEPLEX.steplex_niche
					li.product-list__item
						!=PRODUCT_CARD.product_form_factor
						!=STEPLEX.steplex_form_factor
				//button.product-item__btn.button.button--green.js-show-frame-popup!=PRODUCT_CARD.product_btn
				a.product-item__btn.button.button--gold(href='order.html?id=steplex')!=PRODUCT_CARD.product_btn
				p.product-item__text!=STEPLEX.steplex_short_description
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_description
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=STEPLEX.steplex_description
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_compound
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=STEPLEX.steplex_compound
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_usage
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=STEPLEX.steplex_usage
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_contraindications
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=STEPLEX.steplex_contraindications
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_additional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									!=PRODUCT_CARD.product_manufacturer
									!=STEPLEX.steplex_manufacturer
								li.product-list__item.mb
									!=PRODUCT_CARD.product_suitability
									!=STEPLEX.steplex_suitability
								li.product-list__item
									!=PRODUCT_CARD.product_keep
									!=STEPLEX.steplex_keep
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_reviews
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							each review in REVIEWS
								+product-review(review)
					.specification.specification--recom
						.specification__top
							h3.specification__ttl!=PRODUCT_CARD.product_recommendations
						.specification__text
							.specification__products
								each hit in HITS
									+product(hit)
