mixin langSelect(page)
    .lang-select
        .lang-select__current
            //img.lang-select__flag.lang-select__flag--current(src='img/language-hu.png' alt='hu')
        .lang-select__body
            a.lang-select__option(data-lang='hu' href=url('hu', `/${page}.html`))
                //span.lang-select__country Венгрия
                img.lang-select__flag(src='img/language-hu.png' alt='hu')
            a.lang-select__option(data-lang='cz' href=url('cz', `/${page}.html`))
                //span.lang-select__country Чехия
                img.lang-select__flag(src='img/language-cz.png' alt='cz')
            a.lang-select__option(data-lang='ro' href=url('ro', `/${page}.html`))
                //span.lang-select__country Румыния
                img.lang-select__flag(src='img/language-ro.png' alt='ro')
            a.lang-select__option(data-lang='it' href=url('it', `/${page}.html`))
                //span.lang-select__country Италия
                img.lang-select__flag(src='img/language-it.png' alt='it')
