mixin review(review)
	if review.main
		.review.js-review(class="review--" + review.main)
			.review__top
				img.review__photo(src=review.src, alt="")
				.review__person
					p.review__name!= review.name
					p.review__desc
						span.review__mark высказал
						|
						| свое мнение про
						|
						span.review__product!= review.product
					//.review__rating
					//	p.review__rating-name!= review.product
					//	.review__rating-stars
					//		each star in review.stars
					//			img.review__rating-star(src=star, alt="")
			.review__bottom
				p.review__text!= review.text
	else
		.review.js-review
			.review__top
				img.review__photo(src=review.src, alt="")
				.review__person
					p.review__name!= review.name
					p.review__desc
						span.review__mark высказал
						|
						| свое мнение про
						|
						span.review__product!= review.product
					//.review__rating
					//	p.review__rating-name!= review.product
					//	.review__rating-stars
					//		each star in review.stars
					//			img.review__rating-star(src=star, alt="")
			.review__bottom
				p.review__text!= review.text