include ../../mixins/frame-popup
include ../../mixins/product
include ../../mixins/product-review
include ../../mixins/product-short


-
	var PRODUCT_CARD = LANG.product_card;
	var INSPILAR = LANG.inspilar;
	var INSPILAR_RECOMMENDATION = LANG.inspilar.inspilar_product_recommendation;
	var REVIEWS = LANG.reviews.reviews_inspilar;
	REVIEWS.length = 3;

section.product-item
	.container
		.product-item__breadcrumbs.breadcrumbs
			a.breadcrumbs__link(href="/")!=PRODUCT_CARD.product_card_bread_main
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html")!=PRODUCT_CARD.product_card_bread_catalog
			span.breadcrumbs__line /
			a.breadcrumbs__link(href="catalog.html?id=health")!=INSPILAR.inspilar_category
			span.breadcrumbs__line /
			span.breadcrumbs__main!=INSPILAR.inspilar_title
		.product-item__wrapper
			.product-item__slider.slider-prod
				.slider-prod__nav.js-slider-product-nav
					.slider-prod__nav-item
						picture
							source(srcset='img/inspilar.webp' type='image/webp')
							img(src="img/inspilar.png", alt="Inspilar")
					.slider-prod__nav-item
						picture
							source(srcset='img/inspilar_1.webp' type='image/webp')
							img(src="img/inspilar.png", alt="Inspilar")
					.slider-prod__nav-item
						picture
							source(srcset='img/inspilar_2.webp' type='image/webp')
							img(src="img/inspilar.png", alt="Inspilar")
				.slider-prod__for.js-slider-product-for
					.slider-prod__for-item
						picture
							source(srcset='img/inspilar.webp' type='image/webp')
							img(src="img/inspilar.png", alt="Inspilar")
					.slider-prod__for-item
						picture
							source(srcset='img/inspilar_1.webp' type='image/webp')
							img(src="img/inspilar.png", alt="Inspilar")
					.slider-prod__for-item
						picture
							source(srcset='img/inspilar_2.webp' type='image/webp')
							img(src="img/inspilar.png", alt="Inspilar")
			.product-item__info
				h2.product-item__name!=INSPILAR.inspilar_title
				.product-item__rating
					.product-item__rating-stars
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
						img.product-item__rating-star(src="img/svg/star.svg", alt="")
					p.product-item__rating-text!=INSPILAR.inspilar_review_count
				ul.product-item__list.product-list
					li.product-list__item
						!=PRODUCT_CARD.product_niche
						!=INSPILAR.inspilar_niche
					li.product-list__item
						!=PRODUCT_CARD.product_form_factor
						!=INSPILAR.inspilar_form_factor
				a.product-item__btn.button.button--gold(href='order.html?id=inspilar')!=PRODUCT_CARD.product_btn
				p.product-item__text!=INSPILAR.inspilar_short_description
				.product-item__description.js-accordeon
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_description
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=INSPILAR.inspilar_description
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_compound
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=INSPILAR.inspilar_compound
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_usage
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=INSPILAR.inspilar_usage
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_contraindications
							i.fico.fico-cross
						p.specification__text.js-info-accordeon!=INSPILAR.inspilar_contraindications
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_additional
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							.product-list
								li.product-list__item
									!=PRODUCT_CARD.product_manufacturer
									!=INSPILAR.inspilar_manufacturer
								li.product-list__item.mb
									!=PRODUCT_CARD.product_suitability
									!=INSPILAR.inspilar_suitability
								li.product-list__item
									!=PRODUCT_CARD.product_keep
									!=INSPILAR.inspilar_keep
					.specification
						.specification__top.js-btn-accordeon
							h3.specification__ttl!=PRODUCT_CARD.product_reviews
							i.fico.fico-cross
						.specification__text.js-info-accordeon
							each review in REVIEWS
								+product-review(review)
		.product-item__recomm
			h2.product-item__recomm-ttl.title!= PRODUCT_CARD.product_recommendations
			.product-item__recomm-list
				each product in INSPILAR_RECOMMENDATION
					+productShort(product)