- var FAQ = LANG.home.faq;
section.faq
	.container
		h2.faq__title.title!=FAQ.faq_block_title
		.faq__list.js-accordeon
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl!=FAQ.faq_block_question1
					i.fico.fico-arrow
				p.question__text.js-info-accordeon!=FAQ.faq_block_answer1
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl!=FAQ.faq_block_question2
					i.fico.fico-arrow
				p.question__text.js-info-accordeon!=FAQ.faq_block_answer2
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl!=FAQ.faq_block_question3
					i.fico.fico-arrow
				p.question__text.js-info-accordeon!=FAQ.faq_block_answer3
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl!=FAQ.faq_block_question4
					i.fico.fico-arrow
				p.question__text.js-info-accordeon!=FAQ.faq_block_answer4
			.question
				.question__top.js-btn-accordeon
					h3.question__ttl!=FAQ.faq_block_question5
					i.fico.fico-arrow
				p.question__text.js-info-accordeon!=FAQ.faq_block_answer5